:root {
  --bg-color: #2c3e50;
  --nav-bg-color: #2f495e;
  --nav-text-color: #fff;
  --text-color: #b8c2cc;
  --accent-color: #00c58e;
  --hover-bg-color: #203241;
  --main-title-color: #f5f7fa;
}

/* RESETS */
*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  margin: 0;
}

/* GENERAL STYLING */

body {
  font-family: "Roboto", sans-serif;
  position: relative;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}
span {
  display: inline-block;
}

input,
textarea {
  display: block;
}

small {
  display: block;
  margin: auto;
  margin-top: 0.4em;
  width: 100%;
  max-width: 80%;
}

/* NAVBAR */

.navbar {
  position: fixed;
  width: 250px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--nav-bg-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navbar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  background-image: linear-gradient(
    to right top,
    #2f495e,
    #2e465a,
    #2e4357,
    #2d4153,
    #2c3e50
  );
  font-family: "BenchNine", sans-serif;
  color: var(--accent-color);
}

.navbar__header i {
  background-color: var(--hover-bg-color);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__menu {
  font-weight: 100;
}

.navbar__menu__item {
  cursor: pointer;
  /* padding: 1em; */
  color: var(--nav-text-color);
}

.navbar__menu__item a {
  display: block;
  padding: 1em;
}

.active {
  background-color: var(--hover-bg-color);
  color: var(--accent-color);
}

.navbar__menu__item:hover {
  background-color: var(--hover-bg-color);
}

.navbar__menu__item i {
  margin-right: 20px;
  color: var(--nav-text-color);
}

/* MAIN LAYOUT */

.main {
  position: absolute;
  left: 250px;
  right: 0;
  padding: 2em 2em;
}

.libraries-header {
  width: 700px;
  max-width: 98%;
  margin: 0 auto;
}
.libraries {
  max-width: 100%;
  min-height: 500px;
  background-color: var(--nav-bg-color);
  padding: 0 1em 3em 1em;
}

.libraries__main-title {
  padding: 0.8em 0;
  color: var(--main-title-color);
  text-align: center;
}

/************
 SELECT ELEMENT STYLES
**************/

.select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0.5em;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.select::-ms-expand {
  display: none;
}
.select:hover {
  border-color: var(--accent-color);
}
.select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select option {
  font-weight: normal;
}

/* -------------------------------------------------- SELECT ELEMENT STYLES END */

/* LETTER RANGE */

.letter_range {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin: 1em auto;
}

.letter_range .letter {
  cursor: pointer;
}

.letter_range .letter:hover {
  color: var(--accent-color);
}

.selected {
  color: var(--accent-color);
}

/* BOOK */

.display-books-container {
  margin-top: 2em;
}

/* FIRST LETTER */

.first-letter {
  border-bottom: 1px solid var(--accent-color);
  color: var(--accent-color);
  padding-bottom: 0.2em;
  margin-bottom: 1em;
  font-size: 1.1rem;
}

/* BOOK */

.book {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  margin-bottom: 1em;
  color: var(--nav-text-color);
  padding: 1em 0 5em 1em;
  border-radius: 5px;
}

.book__thumbnail {
  flex-shrink: 0;
  align-self: flex-start;
}

.book__info {
  padding: 0 3.5em 0 1.5em;
  max-width: 80%;
}

.book__title {
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-bottom: 0.2em;
}

.book__author {
  font-size: 0.9rem;
  color: var(--accent-color);
  margin-bottom: 1em;
}

.book__data {
  font-weight: 100;
  border-bottom: 1px solid;
  padding-bottom: 1em;
}

.book__data span {
  margin-right: 0.5em;
}
.btn--add-item {
  display: block;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  margin-top: 1em;
}

.btn--add-item i {
  margin-right: 10px;
}

.book__year {
  font-weight: 500;
}

.book__description {
  font-weight: 100;
}

.book__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent-color);
  box-shadow: inset 3px 0 10px -6px red;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.book__controls i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
}
.book__controls i:hover {
  background-color: var(--bg-color);
}

/* EDIT OPTION - FORM */

.edit-form {
  width: 100%;
}

.manual-entry-form__input {
  width: 100%;
  max-width: 80%;
  border: none;
  border-radius: 4px;
  padding: 0.5em;
  font-size: 1rem;
  margin: auto;
  margin-top: 0.8em;
}

/* TAG OPTION - INPUT */

.tag-input-container {
  width: 100%;
}

.tag-small {
  display: block;
  font-size: 0.7rem;
  margin: 0;
  margin-top: 0.4em;
  width: 100%;
  max-width: 80%;
}

.tag-input {
  width: 100%;
  max-width: 80%;
  border: none;
  border-radius: 4px;
  padding: 0.5em;
  font-size: 1rem;
  margin-top: 0.8em;
}

.tag {
  display: inline-block;
  background-color: salmon;
  color: white;
  padding: 5px;
  border-radius: 10px;
  margin-right: 5px;
}

/* NOTES INPUT */

.notes-input-container {
  width: 100%;
}

.notes-input-container small {
  margin: 0 0 0.5em 0;
}

.notes-input-container textarea {
  resize: none;
}

.notes-input {
  width: 100%;
  max-width: 90%;
  min-height: 100px;
}

.notes {
  position: relative;
  width: 100%;
  max-width: 90%;
  min-height: 100px;
  background-color: var(--main-title-color);
  padding: 1.5em;
  color: rgb(121, 116, 116);
  margin-top: 1.2em;
}

.notes i {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #9c9696;
}

/* PRICE INPUT */

.price-input-container {
  width: 100%;
}

.price-small {
  display: block;
  font-size: 0.7rem;
  margin: 0;
  margin-top: 0.4em;
  width: 100%;
  max-width: 80%;
}

.price-input {
  width: 100%;
  max-width: 80%;
  border: none;
  border-radius: 4px;
  padding: 0.5em;
  font-size: 1rem;
  margin-top: 0.8em;
}

.price-tag {
  margin-top: 0.5em;
  color: var(--accent-color);
}

/* DELETE BOOK MODAL */

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  min-height: 180px;
  background-color: #ffffff;
}

.modal__cancel {
}

.modal__text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 100;
  font-size: 1.2rem;
}

.modal__buttons {
  display: flex;
}

.btn {
  border: none;
  width: 50%;
  padding: 1.1em 0;
  color: #fff;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 100;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--accent-color);
}

.btn--secondary {
  background-color: #888888;
}

/* <div class="modal-container">
<div class="modal">
  <span class="modal__cancel">X</span>
  <div class="modal__text">Delete this item from your library?</div>
  <div class="modal__buttons">
    <button class='btn btn--primary'>Delete</button>
    <button class='btn btn--secondary'>Cancel</button>
  </div>
</div>
</div> */
